.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .leftSection {
    flex: 1;
  }
  
  .leftSection h1 {
    margin: 0;
    font-size: 24px;
    color: #181818;
  }
  
  .leftSection p {
    margin-top: 10px;
    font-size: 16px;
    color: #918a8a;
  }
  
  .rightSection {
    display: flex;
    gap: 10px;
  }
  
  .actionButton {
    padding: 10px 20px;
    background-color: #f6f4f4;
    color: green;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
  }
  
  .actionButton:hover {
    background-color: #ccc;
  }