.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 20px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .data-table th,
  .data-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .data-table th {
    background-color: #f4f4f4; 
  }
  
  .data-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .data-table tr:hover {
    background-color: #f1f1f1;
  }
  .head{
    height: 20px;
    background-color: #f7f6f6ec;
    color:#cccccc ;
  }